.note-container {
    margin: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
}

.note-container .bottom-bar {
    margin: 10px 0px 0px 0px; display: flex; flex-direction: row;
}

.my-button {
    margin: 0px 0px 0px 10px; 
}